:root {
  --color-primary: #303f60;
  --color-secondary: #1a253c;
  --color-tertiary: #43afff;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-body-background: #edf6ff;
  --color-input-border: #c6c6c6;
  --color-textarea-background: hsla(0, 0%, 91%, 0.2);
  --color-gray: #eeeeee;
  --color-applicants-list-bakcground: #eeeff2;
  --color-candidate-profile-background: #d9efff;
  /*Rgb Variables*/
  --color-rgb-black: 0, 0, 0;
  --color-rgb-white: 255, 255, 255;
  --color-rgb-sky-blue: 67, 175, 255;
  --color-rgb-drop-shadow-tile: 85, 125, 165;
  --color-rgb-primary: 48, 63, 96;
  /*font sizes*/
  --fs-100: 1.2rem;
  --fs-200: 1.4rem;
  --fs-300: 1.75rem;
  --fs-500: 2.25rem;
  --fs-700: 2.75rem;
  --fs-800: 3rem;
  --fs-900: 4rem;
}

@media screen and (min-width: 1024px) {
  :root {
    --fs-900: 5rem;
    --fs-800: 4rem;
    --fs-700: 3.5rem;
    --fs-500: 2.75rem;
    --fs-300: 2.2rem;
    --fs-250: 1.7rem;
    --fs-200: 1.2rem;
    --fs-100: 1.4rem;
  }
}
